name: "Stirling PDF"
version: "1.0.0"
slug: "stirling_pdf"
description: "Locally hosted web application for various PDF operations."
arch:
  - aarch64
  - amd64
  - armhf
  - armv7
  - i386
startup: application
boot: auto
ports:
  8080/tcp: 8080
webui: "http://[HOST]:[PORT:8080]"
ingress: false
host_network: false
options: {}
schema: {}
